{:hooks   {:analyze-call {town.lilac.dom/$              clj-kondo.town.lilac.dom/$
                          town.lilac.dom/a              clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/abbr           clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/address        clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/area           clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/article        clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/aside          clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/audio          clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/b              clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/base           clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/bdi            clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/bdo            clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/big            clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/blockquote     clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/body           clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/br             clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/button         clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/canvas         clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/caption        clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/circle         clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/cite           clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/clipPath       clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/code           clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/col            clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/colgroup       clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/data           clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/datalist       clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/dd             clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/defs           clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/del            clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/details        clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/dfn            clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/dialog         clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/div            clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/dl             clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/dt             clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/ellipse        clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/em             clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/embed          clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/fieldset       clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/figcaption     clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/figure         clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/footer         clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/form           clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/g              clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/h1             clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/h2             clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/h3             clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/h4             clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/h5             clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/h6             clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/head           clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/header         clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/hr             clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/html           clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/i              clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/iframe         clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/img            clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/input          clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/ins            clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/kbd            clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/keygen         clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/label          clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/legend         clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/li             clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/line           clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/linearGradient clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/link           clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/main           clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/map            clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/mark           clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/mask           clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/menu           clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/menuitem       clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/meta           clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/meter          clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/nav            clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/noscript       clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/object         clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/ol             clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/optgroup       clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/option         clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/output         clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/p              clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/param          clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/path           clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/pattern        clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/picture        clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/polygon        clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/polyline       clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/pre            clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/progress       clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/q              clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/radialGradient clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/rect           clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/rp             clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/rt             clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/ruby           clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/s              clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/samp           clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/script         clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/section        clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/select         clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/small          clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/source         clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/span           clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/stop           clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/strong         clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/style          clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/sub            clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/summary        clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/sup            clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/svg            clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/table          clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/tbody          clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/td             clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/textarea       clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/tfoot          clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/th             clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/thead          clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/time           clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/title          clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/tr             clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/track          clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/tspan          clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/u              clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/ul             clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/var            clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/video          clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/wbr            clj-kondo.town.lilac.dom/dom}}}
