{:hooks   {:analyze-call {town.lilac.dom/async          clj-kondo.town.lilac.dom/async
                          town.lilac.dom/$              clj-kondo.town.lilac.dom/$
                          town.lilac.dom/a              clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/abbr           clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/address        clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/area           clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/article        clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/aside          clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/audio          clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/b              clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/base           clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/bdi            clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/bdo            clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/big            clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/blockquote     clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/body           clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/br             clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/button         clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/canvas         clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/caption        clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/circle         clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/cite           clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/clipPath       clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/code           clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/col            clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/colgroup       clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/data           clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/datalist       clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/dd             clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/defs           clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/del            clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/details        clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/dfn            clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/dialog         clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/div            clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/dl             clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/dt             clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/ellipse        clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/em             clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/embed          clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/fieldset       clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/figcaption     clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/figure         clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/footer         clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/form           clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/g              clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/h1             clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/h2             clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/h3             clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/h4             clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/h5             clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/h6             clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/head           clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/header         clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/hr             clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/html           clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/i              clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/iframe         clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/img            clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/input          clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/ins            clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/kbd            clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/keygen         clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/label          clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/legend         clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/li             clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/line           clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/linearGradient clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/link           clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/main           clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/map            clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/mark           clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/mask           clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/menu           clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/menuitem       clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/meta           clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/meter          clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/nav            clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/noscript       clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/object         clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/ol             clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/optgroup       clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/option         clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/output         clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/p              clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/param          clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/path           clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/pattern        clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/picture        clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/polygon        clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/polyline       clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/pre            clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/progress       clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/q              clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/radialGradient clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/rect           clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/rp             clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/rt             clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/ruby           clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/s              clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/samp           clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/script         clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/section        clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/select         clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/small          clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/source         clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/span           clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/stop           clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/strong         clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/style          clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/sub            clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/summary        clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/sup            clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/svg            clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/table          clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/tbody          clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/td             clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/textarea       clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/tfoot          clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/th             clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/thead          clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/time           clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/title          clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/tr             clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/track          clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/tspan          clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/u              clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/ul             clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/var            clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/video          clj-kondo.town.lilac.dom/dom
                          town.lilac.dom/wbr            clj-kondo.town.lilac.dom/dom

                          town.lilac.dom.server/$              clj-kondo.town.lilac.dom/$
                          town.lilac.dom.server/a              clj-kondo.town.lilac.dom/dom
                          town.lilac.dom.server/abbr           clj-kondo.town.lilac.dom/dom
                          town.lilac.dom.server/address        clj-kondo.town.lilac.dom/dom
                          town.lilac.dom.server/area           clj-kondo.town.lilac.dom/dom
                          town.lilac.dom.server/article        clj-kondo.town.lilac.dom/dom
                          town.lilac.dom.server/aside          clj-kondo.town.lilac.dom/dom
                          town.lilac.dom.server/audio          clj-kondo.town.lilac.dom/dom
                          town.lilac.dom.server/b              clj-kondo.town.lilac.dom/dom
                          town.lilac.dom.server/base           clj-kondo.town.lilac.dom/dom
                          town.lilac.dom.server/bdi            clj-kondo.town.lilac.dom/dom
                          town.lilac.dom.server/bdo            clj-kondo.town.lilac.dom/dom
                          town.lilac.dom.server/big            clj-kondo.town.lilac.dom/dom
                          town.lilac.dom.server/blockquote     clj-kondo.town.lilac.dom/dom
                          town.lilac.dom.server/body           clj-kondo.town.lilac.dom/dom
                          town.lilac.dom.server/br             clj-kondo.town.lilac.dom/dom
                          town.lilac.dom.server/button         clj-kondo.town.lilac.dom/dom
                          town.lilac.dom.server/canvas         clj-kondo.town.lilac.dom/dom
                          town.lilac.dom.server/caption        clj-kondo.town.lilac.dom/dom
                          town.lilac.dom.server/circle         clj-kondo.town.lilac.dom/dom
                          town.lilac.dom.server/cite           clj-kondo.town.lilac.dom/dom
                          town.lilac.dom.server/clipPath       clj-kondo.town.lilac.dom/dom
                          town.lilac.dom.server/code           clj-kondo.town.lilac.dom/dom
                          town.lilac.dom.server/col            clj-kondo.town.lilac.dom/dom
                          town.lilac.dom.server/colgroup       clj-kondo.town.lilac.dom/dom
                          town.lilac.dom.server/data           clj-kondo.town.lilac.dom/dom
                          town.lilac.dom.server/datalist       clj-kondo.town.lilac.dom/dom
                          town.lilac.dom.server/dd             clj-kondo.town.lilac.dom/dom
                          town.lilac.dom.server/defs           clj-kondo.town.lilac.dom/dom
                          town.lilac.dom.server/del            clj-kondo.town.lilac.dom/dom
                          town.lilac.dom.server/details        clj-kondo.town.lilac.dom/dom
                          town.lilac.dom.server/dfn            clj-kondo.town.lilac.dom/dom
                          town.lilac.dom.server/dialog         clj-kondo.town.lilac.dom/dom
                          town.lilac.dom.server/div            clj-kondo.town.lilac.dom/dom
                          town.lilac.dom.server/dl             clj-kondo.town.lilac.dom/dom
                          town.lilac.dom.server/dt             clj-kondo.town.lilac.dom/dom
                          town.lilac.dom.server/ellipse        clj-kondo.town.lilac.dom/dom
                          town.lilac.dom.server/em             clj-kondo.town.lilac.dom/dom
                          town.lilac.dom.server/embed          clj-kondo.town.lilac.dom/dom
                          town.lilac.dom.server/fieldset       clj-kondo.town.lilac.dom/dom
                          town.lilac.dom.server/figcaption     clj-kondo.town.lilac.dom/dom
                          town.lilac.dom.server/figure         clj-kondo.town.lilac.dom/dom
                          town.lilac.dom.server/footer         clj-kondo.town.lilac.dom/dom
                          town.lilac.dom.server/form           clj-kondo.town.lilac.dom/dom
                          town.lilac.dom.server/g              clj-kondo.town.lilac.dom/dom
                          town.lilac.dom.server/h1             clj-kondo.town.lilac.dom/dom
                          town.lilac.dom.server/h2             clj-kondo.town.lilac.dom/dom
                          town.lilac.dom.server/h3             clj-kondo.town.lilac.dom/dom
                          town.lilac.dom.server/h4             clj-kondo.town.lilac.dom/dom
                          town.lilac.dom.server/h5             clj-kondo.town.lilac.dom/dom
                          town.lilac.dom.server/h6             clj-kondo.town.lilac.dom/dom
                          town.lilac.dom.server/head           clj-kondo.town.lilac.dom/dom
                          town.lilac.dom.server/header         clj-kondo.town.lilac.dom/dom
                          town.lilac.dom.server/hr             clj-kondo.town.lilac.dom/dom
                          town.lilac.dom.server/html           clj-kondo.town.lilac.dom/dom
                          town.lilac.dom.server/i              clj-kondo.town.lilac.dom/dom
                          town.lilac.dom.server/iframe         clj-kondo.town.lilac.dom/dom
                          town.lilac.dom.server/img            clj-kondo.town.lilac.dom/dom
                          town.lilac.dom.server/input          clj-kondo.town.lilac.dom/dom
                          town.lilac.dom.server/ins            clj-kondo.town.lilac.dom/dom
                          town.lilac.dom.server/kbd            clj-kondo.town.lilac.dom/dom
                          town.lilac.dom.server/keygen         clj-kondo.town.lilac.dom/dom
                          town.lilac.dom.server/label          clj-kondo.town.lilac.dom/dom
                          town.lilac.dom.server/legend         clj-kondo.town.lilac.dom/dom
                          town.lilac.dom.server/li             clj-kondo.town.lilac.dom/dom
                          town.lilac.dom.server/line           clj-kondo.town.lilac.dom/dom
                          town.lilac.dom.server/linearGradient clj-kondo.town.lilac.dom/dom
                          town.lilac.dom.server/link           clj-kondo.town.lilac.dom/dom
                          town.lilac.dom.server/main           clj-kondo.town.lilac.dom/dom
                          town.lilac.dom.server/map            clj-kondo.town.lilac.dom/dom
                          town.lilac.dom.server/mark           clj-kondo.town.lilac.dom/dom
                          town.lilac.dom.server/mask           clj-kondo.town.lilac.dom/dom
                          town.lilac.dom.server/menu           clj-kondo.town.lilac.dom/dom
                          town.lilac.dom.server/menuitem       clj-kondo.town.lilac.dom/dom
                          town.lilac.dom.server/meta           clj-kondo.town.lilac.dom/dom
                          town.lilac.dom.server/meter          clj-kondo.town.lilac.dom/dom
                          town.lilac.dom.server/nav            clj-kondo.town.lilac.dom/dom
                          town.lilac.dom.server/noscript       clj-kondo.town.lilac.dom/dom
                          town.lilac.dom.server/object         clj-kondo.town.lilac.dom/dom
                          town.lilac.dom.server/ol             clj-kondo.town.lilac.dom/dom
                          town.lilac.dom.server/optgroup       clj-kondo.town.lilac.dom/dom
                          town.lilac.dom.server/option         clj-kondo.town.lilac.dom/dom
                          town.lilac.dom.server/output         clj-kondo.town.lilac.dom/dom
                          town.lilac.dom.server/p              clj-kondo.town.lilac.dom/dom
                          town.lilac.dom.server/param          clj-kondo.town.lilac.dom/dom
                          town.lilac.dom.server/path           clj-kondo.town.lilac.dom/dom
                          town.lilac.dom.server/pattern        clj-kondo.town.lilac.dom/dom
                          town.lilac.dom.server/picture        clj-kondo.town.lilac.dom/dom
                          town.lilac.dom.server/polygon        clj-kondo.town.lilac.dom/dom
                          town.lilac.dom.server/polyline       clj-kondo.town.lilac.dom/dom
                          town.lilac.dom.server/pre            clj-kondo.town.lilac.dom/dom
                          town.lilac.dom.server/progress       clj-kondo.town.lilac.dom/dom
                          town.lilac.dom.server/q              clj-kondo.town.lilac.dom/dom
                          town.lilac.dom.server/radialGradient clj-kondo.town.lilac.dom/dom
                          town.lilac.dom.server/rect           clj-kondo.town.lilac.dom/dom
                          town.lilac.dom.server/rp             clj-kondo.town.lilac.dom/dom
                          town.lilac.dom.server/rt             clj-kondo.town.lilac.dom/dom
                          town.lilac.dom.server/ruby           clj-kondo.town.lilac.dom/dom
                          town.lilac.dom.server/s              clj-kondo.town.lilac.dom/dom
                          town.lilac.dom.server/samp           clj-kondo.town.lilac.dom/dom
                          town.lilac.dom.server/script         clj-kondo.town.lilac.dom/dom
                          town.lilac.dom.server/section        clj-kondo.town.lilac.dom/dom
                          town.lilac.dom.server/select         clj-kondo.town.lilac.dom/dom
                          town.lilac.dom.server/small          clj-kondo.town.lilac.dom/dom
                          town.lilac.dom.server/source         clj-kondo.town.lilac.dom/dom
                          town.lilac.dom.server/span           clj-kondo.town.lilac.dom/dom
                          town.lilac.dom.server/stop           clj-kondo.town.lilac.dom/dom
                          town.lilac.dom.server/strong         clj-kondo.town.lilac.dom/dom
                          town.lilac.dom.server/style          clj-kondo.town.lilac.dom/dom
                          town.lilac.dom.server/sub            clj-kondo.town.lilac.dom/dom
                          town.lilac.dom.server/summary        clj-kondo.town.lilac.dom/dom
                          town.lilac.dom.server/sup            clj-kondo.town.lilac.dom/dom
                          town.lilac.dom.server/svg            clj-kondo.town.lilac.dom/dom
                          town.lilac.dom.server/table          clj-kondo.town.lilac.dom/dom
                          town.lilac.dom.server/tbody          clj-kondo.town.lilac.dom/dom
                          town.lilac.dom.server/td             clj-kondo.town.lilac.dom/dom
                          town.lilac.dom.server/textarea       clj-kondo.town.lilac.dom/dom
                          town.lilac.dom.server/tfoot          clj-kondo.town.lilac.dom/dom
                          town.lilac.dom.server/th             clj-kondo.town.lilac.dom/dom
                          town.lilac.dom.server/thead          clj-kondo.town.lilac.dom/dom
                          town.lilac.dom.server/time           clj-kondo.town.lilac.dom/dom
                          town.lilac.dom.server/title          clj-kondo.town.lilac.dom/dom
                          town.lilac.dom.server/tr             clj-kondo.town.lilac.dom/dom
                          town.lilac.dom.server/track          clj-kondo.town.lilac.dom/dom
                          town.lilac.dom.server/tspan          clj-kondo.town.lilac.dom/dom
                          town.lilac.dom.server/u              clj-kondo.town.lilac.dom/dom
                          town.lilac.dom.server/ul             clj-kondo.town.lilac.dom/dom
                          town.lilac.dom.server/var            clj-kondo.town.lilac.dom/dom
                          town.lilac.dom.server/video          clj-kondo.town.lilac.dom/dom
                          town.lilac.dom.server/wbr            clj-kondo.town.lilac.dom/dom}}
 :lint-as {town.lilac.dom/try clojure.core/try
           town.lilac.server.dom/try clojure.core/try}}
