{:deps true
 :builds {:app {:target :browser
                :output-dir "public/js"
                :asset-path "/js"
                :modules {:main {:entries [town.lilac.todomvc]}}
                :devtools {:http-root "public"
                           :http-port 3456
                           ;; disable hot reloading
                           :autoload false}}}}
